.employer__screen{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.employer__screen > *{
    margin:20px;
}

.employer__screen .column{
    display: flex;
    flex-direction: column;
}

.second__col{
    width:602px;
}

@media only screen and (max-width:981px){
    .driver__screen .column{
        max-width:600px;
        min-width: 300px;
    }
}